.box-title{
    width: 100%;
    color: red;
    text-align: center;
    border-bottom: 2px solid blue;
}

.box{
    float: left;
}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    margin: 10px;
    border-radius: 10px;
}

.box-content{
    padding: 10px;
}

.smallcase{
    text-transform: lowercase;
}

.capital{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.paragraphformat{
    font-size: 120%;
    color: dimgray;
}

.anchorexample a {
      text-decoration: none;  
}

.anchorexample a:link {
    color: red;
}
.anchorexample a:visited{
    color: blue;
}

.anchorexample a:active{
    color: black;
}

.anchorexample a{
    text-decoration: underline;
}

.table{
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table td{
    padding: 15px;
}

.table thead td{
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

.table tbody td{
    color: #636363;
    border: 1px solid #dddfe1;
}

.table tbody tr{
    background-color: #f9fafb;
}

.flex-container{
    display: flex;
    background-color: #636363;
    justify-content: space-evenly;
}

.flex-container div{
    border: 1px solid black;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 10px;
}